@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";
@import "@luminescent/ui";

@plugin "@anuragroy/tailwindcss-animate";

@config "@luminescent/ui-qwik/config";
@source "../../../node_modules/@luminescent/ui-qwik";

@theme {
  --lum-default-alpha: 70;
  --lum-border-radius: 1rem;
  --color-gray-50: oklch(98.5% 0.002 278.839);
  --color-gray-100: oklch(96.7% 0.003 295.542);
  --color-gray-200: oklch(92.8% 0.006 295.531);
  --color-gray-300: oklch(87.2% 0.01 289.338);
  --color-gray-400: oklch(70.7% 0.022 292.325);
  --color-gray-500: oklch(55.1% 0.027 295.364);
  --color-gray-600: oklch(44.6% 0.03 287.802);
  --color-gray-700: oklch(37.3% 0.034 290.733);
  --color-gray-800: oklch(27.8% 0.033 287.848);
  --color-gray-850: oklch(23.2% 0.03 290.733);
  --color-gray-900: oklch(21% 0.034 295.665);
  --color-gray-950: oklch(13% 0.028 292.692);
  --color-green: var(--color-green-900);
  --color-red: var(--color-red-900);
  --color-orange: var(--color-orange-900);
  --color-yellow: var(--color-yellow-900);
  --color-blue: var(--color-blue-900);
  --color-violet: var(--color-violet-900);
  --color-pink: var(--color-pink-900);
  --color-purple: var(--color-purple-900);
  --color-cyan: var(--color-cyan-900);
  --color-lime: var(--color-lime-900);
  --color-teal: var(--color-teal-900);
  --color-lum-border: #dfdfdfaa;
  --color-nav-bg: --alpha(var(--color-sky-950) / 70%);
  --color-bg: var(--color-gray-950);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: var(--color-gray-200);
    --color-nav-bg: --alpha(var(--color-blue-300) / 95%);
    --color-green: var(--color-green-500);
    --color-red: var(--color-red-500);
    --color-orange: var(--color-orange-500);
    --color-yellow: var(--color-yellow-500);
    --color-blue: var(--color-blue-500);
    --color-violet: var(--color-violet-500);
    --color-pink: var(--color-pink-500);
    --color-purple: var(--color-purple-500);
    --color-cyan: var(--color-cyan-500);
    --color-lime: var(--color-lime-500);
    --color-teal: var(--color-teal-500);
    --color-lum-border: var(--color-gray-600);
    --color-lum-card-bg: var(--color-gray-50);
    --color-lum-input-bg: var(--color-gray-100);
    --color-lum-input-hover-bg: var(--color-gray-200);
    --color-lum-accent: var(--color-blue-500);
    --color-lum-text: var(--color-gray-900);
    --color-lum-text-secondary: var(--color-gray-600);
  }
}

/* Pulled straight from minecraft.net */
@font-face {
  font-family: MinecraftOfficial;
  src: url(/MinecraftOfficial.ttf);
  font-display: swap;
}

.font-minecraft {
  font-family: MinecraftOfficial, sans-serif;
}

a.lum-btn, a.lum-card {
  color: var(--color-text) !important;
  text-decoration: none;
}

html {
  font-family: Figtree, sans-serif;
  background-color: var(--color-bg);
}

* {
  scroll-behavior: smooth;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  appearance: none;
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff20;
  border: 1px solid #ffffff20;
  border-radius: 3px;
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

#map-container {
  .bm-marker-html {
    position: relative;

    user-select: none;

    .bm-marker-poi-label {
      position: absolute;
      top: 0;
      left: 0;

      opacity: 0;
      transition: opacity 0.3s;
    }

    .bm-marker-poi-icon {
      opacity: 1;
      transition: opacity 0.3s;
      filter: drop-shadow(1px 1px 3px #0008);
    }

    &.bm-marker-highlight {
      .bm-marker-poi-label {
        opacity: 1;
      }

      .bm-marker-poi-icon {
        opacity: 0;
      }
    }
  }

  .bm-marker-html .bm-marker-poi-label,
  .bm-marker-labelpopup,
  .bm-marker-popup {
    @apply lum-btn drop-shadow-xl backdrop-blur-lg;
    transform: translate(-50%, -100%) translate(0, -0.5em);
    max-width: 15em;

    &:after {
      position: absolute;
      bottom: calc(-1em + 1px);
      left: 50%;
      transform: translate(-50%, 0);

      content: '';
      border: solid 0.5em transparent;
      @apply border-t-gray-900/20;
    }
  }

  .bm-marker-popup {
    line-height: 1.2em;

    .group {

      &[data-tooltip] {

        position: relative;

        pointer-events: auto;
        user-select: none;
        cursor: pointer;

        margin: -0.5em;
        padding: 0.5em;

        &:hover::before {
          display: block;
          position: absolute;
          z-index: 1;

          left: 50%;
          bottom: calc(100% + 0.5em);
          transform: translate(-50%, 0);

          content: attr(data-tooltip);

          background: var(--theme-bg);
          color: var(--theme-fg-light);
          filter: drop-shadow(1px 1px 3px #0008);
          font-size: 0.75em;
          line-height: 1em;
          padding: .5em;
        }

        &:active {
          background-color: var(--theme-bg-light);
        }

      }

      > .label {
        position: relative;
        top: 0;
        left: 0.5em;

        margin: 0 0.5em;

        font-size: 0.8em;
        color: var(--theme-fg-light);
      }

      > .content {
        display: flex;
        justify-content: center;

        > .entry {
          margin: 0 0.5em;

          > .label {
            color: var(--theme-fg-light);
          }
        }
      }
    }

    .files {
      font-size: 0.8em;
      color: var(--theme-fg-light);
    }
  }

  .bm-marker-player {
    position: relative;
    transform: translate(-50%, -50%);
    filter: drop-shadow(1px 1px 3px #0008);

    img {
      width: 32px;
      image-rendering: pixelated;

      transition: width 0.3s;
    }

    .bm-player-name {
      @apply lum-card lum-btn-p-2 rounded-lum-1;
      position: absolute;
      top: -0.5em;
      left: 50%;
      transform: translate(-50%, -100%);

      transition: opacity 0.3s;
    }

    &[distance-data="med"],
    &[distance-data="far"] {
      img {
        width: 16px;
      }

      .bm-player-name {
        opacity: 0;
      }
    }
  }
}


#map-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10000;
  pointer-events: none;
  font-size: 1rem;
  .map-state-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1em;
    text-align: center;
  }
}